.maxWidth {
	width: 100%;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pagination {
	margin: 0 auto;
}

.nav .btn-group {
	margin-top: 7px;
}

.settingsTextbox{
    width: 30px;
}

#settingsMenu{
	padding: 5px;
} 

br.clear{
    clear: both;
}

#container{
	width: 100%;
	text-align: center;
}