.maxWidth {
	width: 100%;
}

.nav .btn-group {
	margin-top: 7px;
}

.settingsTextbox{
    width: 30px;
}

#settingsMenu{
	padding: 5px;
} 

br.clear{
    clear: both;
}

#container{
	width: 100%;
	text-align: center;
}